.container
	.navbar.navbar-default
		button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse")
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")
		span.navbar-brand.glyphicon.glyphicon-hand-right
		.navbar-collapse.collapse.navbar-inverse-collapse
			form.navbar-form.navbar-left
				input(type="text" class="form-control col-lg-8 input-large" placeholder="Търси")
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/") Портал за библиотекари

	table.table.table-striped
		thead
			tr.active
				th #
				th Заглавие
				th Автор
				th Подзаглавие
				th Взета
				th Дата на връщане
		tbody
			td sample
			td dasd
			td sdadsa
			td adsas
			td
				input(type="checkbox" disabled="disabled")
			td 1241

	//the goddamn pagination