.container(ng-controller="loginController")
	.navbar.navbar-default
		button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse")
			span.icon-bar
			span.icon-bar
			span.icon-bar
		span.navbar-brand.glyphicon.glyphicon-hand-right
		.navbar-collapse.collapse.navbar-inverse-collapse
				ul(class="nav navbar-nav navbar-left")
					li
						a(href="#/") Библиотека
					li
						input.form-control.col-lg-8.input-large(type="text" placeholder="Търси" ng-model="q" id="searchForLibrarians")
				ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
					li.dropdown
						a.dropdown-toggle(href="" data-toggle="dropdown") {{identity.currentUser.firstName+" "+identity.currentUser.lastName}}
							span.caret
						ul.dropdown-menu
							li(ng-show="identity.currentUser.isAdmin()")
								a(href="#/admin/signup") Add user
							li(ng-show="identity.currentUser.isAdmin()")
								a(href="#/admin/users") Users
							li(ng-show="identity.isAuthenticated()")
								a(href="#/profile") Профил
							li(ng-show="identity.isAuthenticated()")
								a(href="#/admin/edit-book") Библиотекарски инструменти
							li(ng-show="identity.isAuthenticated()")
								a(href="#/admin/add-book") Добави книга
							li
								a(href="#" ng-click="logout()") Изход
	table.table.table-striped
			thead
				tr.active
					th Инвентарен №
					th Заглавие
					th Автор
					th Подзаглавие
					th Взета
					th Обработена
			tbody
				tr(dir-paginate="book in books | filter:q | itemsPerPage: pageSize" current-page="currentPage")
					td {{book.inventoryNum}}
					td
						a(href="#/admin/edit-book/{{book._id}}") {{book.title}}
					td {{book.author}}
					td {{book.subTitle}}
					td
						input(type="checkbox" disabled="disabled" ng-model="book.taken")
					td {{book.isFormated | formated}}
	.pagination-centered
		dir-pagination-controls(boundary-links="true" template-url="../../lib/angular-utils-pagination/dirPagination.tpl.html")