extends pages/template
block main-content
	.container
		div(class="jumbotron row")
			div(class="col-md-6 headline")
				h1 Библиотека
			div(class="col-md-6")
				img(src='../img/books-clipart.png' class="image-container")
	div(ng-view)

	footer
		p.footer
			small Developer: Angel Simeonov 2014