.container(ng-controller="loginController")
	.navbar.navbar-default
		button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse")
			span.icon-bar
			span.icon-bar
			span.icon-bar
		span.navbar-brand.glyphicon.glyphicon-hand-right
		div(class="navbar-collapse collapse navbar-inverse-collapse")
				ul(class="nav navbar-nav navbar-left")
					li
						a(href="#/") Библиотека
				ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
					li.dropdown
						a.dropdown-toggle(href="" data-toggle="dropdown") {{identity.currentUser.firstName+" "+identity.currentUser.lastName}}
							span.caret
						ul.dropdown-menu
							li(ng-show="identity.currentUser.isAdmin()")
								a(href="#/admin/signup") Add user
							li(ng-show="identity.currentUser.isAdmin()")
								a(href="#/admin/users") Users
							li
								a(href="#" ng-click="logout()") Изход

	.row
		.col-md-6.jumbotron(ng-hide="identity.isAuthenticated()")
			form.form-horizontal
				fieldset
					legend Вход
					.form-group
						label.col-lg-2.control-label(for='imputName') Име
						.col-lg-10
							input.form-control(id="inputEmail" placeholder="Потребителско име" type="text" ng-model="user.username")
					.form-group
						label.col-lg-2.control-label(for='inputPassword') Парола
						.col-lg-10
							input.form-control(id="inputPassword" placeholder="Парола" type="Password" ng-model="user.password")
					.form-group
						.col-lg-10.col-lg-offset-2
							button.btn.btn-success(ng-click="login(user)") Влез