.container
	.navbar.navbar-default
		button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse")
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")
		span.navbar-brand.glyphicon.glyphicon-hand-right
		.navbar-collapse.collapse.navbar-inverse-collapse
			form.navbar-form.navbar-left
				//- TODO SORTING FILTERS
				
				//- select.form-control(ng-model="sortingOrder")
				//- 	option(value=" " ng-selected="true") Всички критерии
				//- 	option(value="title") Заглавие
				//- 	option(value="author") Автор
				//- 	option(value="-subTitle") Подзаглавие
				//- 	option(value="taken") Взета
				input.form-control.col-lg-8.input-large(type="text" placeholder="Търси" ng-model="q" id="search" ng-change="search()")
			ul.nav.navbar-nav.navbar-right
				li(ng-hide="identity.isAuthenticated()")
					a(href="#/login") Портал за библиотекари
				li(ng-show="identity.isAuthenticated()")
					a(href="#/admin/edit-book") Портал за библиотекари


	table.table.table-striped
		thead
			tr.active
				th #
				th Заглавие
				th Автор
				th Взета
				th Дата на връщане
				
				
		tbody
			tr(dir-paginate="book in books | filter:q | itemsPerPage: pageSize" current-page="currentPage")
				td {{book.shelf}}
				td
					.btn-group
						a.btn.btn-sm.dropdown-toggle(data-toggle="dropdown" href="") {{book.title}}
						span.caret
						ul.dropdown-menu
							li Година: {{book.year}}
							li Съавтори: {{book.subAuthor}}
							li Подзаглавие: {{book.subTitle}}
							li Тематика: {{book.genre}}
				td {{book.author}}
				td
					input(type="checkbox" disabled="disabled" ng-model="book.taken")
				td {{book.returnDate | date: 'MMM d' | dateFilter}}
				
	.pagination-centered
		dir-pagination-controls(boundary-links="true" template-url="../../lib/angular-utils-pagination/dirPagination.tpl.html")